footer{
    position: absolute;
    bottom: 0%;
    height: 80px;
    width: 100%;
    background-color: black;
    color: aliceblue;


}


.footer-icons{

    text-align: center;
    margin-left: -35px;

}


.footer-icons li{
    display: inline;
    font-size: 30px;

}

.footer-icons li a{
    display: inline;
    color: #ffffff;
}

#linkr{
    color: blueviolet;
    padding: 0px 25px 0px 25px;
    font-size: 40px;
}